PORT_SERVER=
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOSTNAME=
MYSQL_DATABASE_NAME=
MYSQL_PORT=
MONGO_URL_CONNECTION=
ELASTIC_URL_CONNECTION=http://localhost:9200
ENVIRONMENT=dev
asdasd